body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 8px;
}

td * {
    text-align: center;
}

input[type='number'] {
    border: none;
    outline: none;
    height: 25px;
    color: red;
    font-size: 20px;
    padding: 8px;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0; /* Ẩn margin mặc định */
    }
}

.lastRow {
    text-align: center;
    & button {
        width: 100px;
        background-color: yellow;
        height: 25px;
        cursor: pointer;

        &:active {
            background-color: darkgoldenrod;
        }
    }
}
