* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    transform-style: preserve-3d;
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;

    .vertex {
        --d: 40px;
        width: var(--d);
        height: var(--d);
        border: 1px solid black;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }

    .arrow {
        --arrow-width: 8px;
        width: 40px;
        border: calc(var(--arrow-width) / 4) solid black;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            border-left: var(--arrow-width) solid black;
            border-top: var(--arrow-width) solid transparent;
            border-bottom: var(--arrow-width) solid transparent;

            right: calc(var(--arrow-width) * -1);
            transform: translateY(-50%);
        }
    }
}
