.pl-3 {
    padding-left: 1rem !important;
}

#result {
    width: 100%;
    min-height: 400px;
    background-color: white;
}

table,
th,
td {
    border: 1px solid black;
}

td,
th {
    width: 50px;
    height: 50px;
    text-align: center;
}

@keyframes bounceInRight {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    20% {
        transform: translate3d(-30px, 0, 0);
    }

    40% {
        transform: translate3d(10px, 0, 0);
    }

    60% {
        transform: translate3d(-5px, 0, 0);
    }

    80% {
        transform: translate3d(2px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.toastify-bounce {
    animation: bounceInRight 1s;
}

.vertex {
    --d: 40px;
    width: var(--d);
    height: var(--d);
    border: 1px solid black;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.arrow {
    --arrow-width: 8px;
    width: 40px;
    border: calc(var(--arrow-width) / 4) solid black;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        border-left: var(--arrow-width) solid black;
        border-top: var(--arrow-width) solid transparent;
        border-bottom: var(--arrow-width) solid transparent;

        right: calc(var(--arrow-width) * -1);
        transform: translateY(-50%);
    }
}
