body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 0;
}

label {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

tr:last-child {
    & td {
        display: flex;
        justify-content: center;
        border: none;
    }
}

.btnCal {
    width: 25%;
    height: 25px;
}
