<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tính DTBTL</title>
        <link rel="stylesheet" href="tinhDTBTL.css" />
    </head>
    <body>
        <table class="table">
            <tbody class="rowsScore">
                <tr>
                    <th>STT</th>
                    <th>DTB (Hệ 10)</th>
                    <th>Số tính chỉ</th>
                </tr>
                <tr class="row">
                    <td>1</td>
                    <td><input type="number" class="d10 r1" /></td>
                    <td><input type="number" class="stc r1" /></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="number" class="d10 r2" /></td>
                    <td><input type="number" class="stc r2" /></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="number" class="d10 r3" /></td>
                    <td><input type="number" class="stc r3" /></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="number" class="d10 r4" /></td>
                    <td><input type="number" class="stc r4" /></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><input type="number" class="d10 r5" /></td>
                    <td><input type="number" class="stc r5" /></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><input type="number" class="d10 r6" /></td>
                    <td><input type="number" class="stc r6" /></td>
                </tr>
            </tbody>

            <tr>
                <td colspan="3" class="lastRow">
                    <button class="btnAddRow">Thêm dòng</button>
                    <button class="btnCal">Tính</button>
                </td>
            </tr>
        </table>

        <script src="tinhDTBTL.js"></script>
    </body>
</html>
