<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="socialIcon.css" />
    </head>
    <body>
        <div class="container">
            <h2 class="name">Lưu Minh Trọng</h2>
            <div class="wrapper">
                <a
                    href="https://www.facebook.com/trongminhluu108"
                    target="_blank"
                    class="circle"
                >
                </a>
                <a
                    class="circle"
                    href="https://zalo.me/0767267267"
                    target="_blank"
                ></a>
                <a class="circle" href="tel: 0772104719"></a>
                <a class="circle" href="mailto: lmtrong.ctc2020@gmail.com"> </a>
            </div>
        </div>
    </body>
</html>
