<footer id="footer-container" class="text-center text-lg-start">
    <div class="container-fluid pt-5 d-flex flex-column justify-content-around">
        <div class="d-flex px-5 gap-5 row">
            <!-- Logo and name website -->
            <section
                class="mb-4 col col-md-5 col-lg-2 col-12 d-flex justify-content-center aligns-item-center"
            >
                <div class="logo col-lg-12 col-4">
                    <img
                        id="logo"
                        class="w-100"
                        src="../../assets/logo/tgex.png"
                        alt=""
                    />
                </div>
            </section>

            <!-- Contact Information -->
            <section class="mb-4 col col-md-5 col-lg-3 col-12">
                <h5>Contact</h5>
                <p>
                    Email:
                    <a href="mailto:yourname@example.com" id="f-mail"></a>
                </p>
                <p id="f-phone"></p>
            </section>

            <!-- Social Media Links -->
            <section class="mb-4 col col-md-5 col-lg-3 col-12">
                <h5>Follow me</h5>
                <a
                    id="f-facebook"
                    class="btn btn-outline-primary btn-floating m-1"
                    role="button"
                    target="_blank"
                    ><i class="bi bi-facebook"></i
                ></a>
                <a
                    id="f-youtube"
                    class="btn btn-outline-primary btn-floating m-1"
                    role="button"
                    ><i class="bi bi-youtube"></i
                ></a>
                <a
                    id="f-linkedin"
                    class="btn btn-outline-primary btn-floating m-1"
                    role="button"
                    ><i class="bi bi-linkedin"></i
                ></a>
                <a
                    id="f-github"
                    class="btn btn-outline-primary btn-floating m-1"
                    role="button"
                    ><i class="bi bi-github"></i
                ></a>
            </section>

            <!-- Navigation Links -->
            <section class="mb-4 col col-md-5 col-lg-2 col-12">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#about" class="text-dark">About Me</a></li>
                    <li>
                        <a href="#projects" class="text-dark">Projects</a>
                    </li>
                    <li><a href="#blog" class="text-dark">Blog</a></li>
                    <li>
                        <a href="#contact" class="text-dark">Contact</a>
                    </li>
                </ul>
            </section>
        </div>

        <!-- Copyright -->
        <div class="row">
            <section class="mb-2 d-flex justify-content-end fst-italic">
                <p>&copy; 2024 trongminh108. All rights reserved.</p>
            </section>
        </div>
    </div>
</footer>
