<nav class="navbar navbar-expand-md bg-body-tertiary bg-primary">
    <div class="container-fluid">
        <div class="col col-2">
            <a class="navbar-brand" href="#">My Certifications</a>
        </div>
        <div class="col col-sm-10 d-md-none d-flex justify-content-end">
            <button
                class="navbar-toggler d-md-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    My Certifications
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <form
                    class="d-flex flex-md-row flex-column align-items-center form gap-3 w-100"
                    role="search"
                ></form>
            </div>
        </div>
    </div>
    <!-- Must import at file create this navbar -->
    <!-- <script type="module" src="./navbar.js"></script> -->
</nav>
