<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
    <div class="container-fluid">
        <div class="col col-2">
            <a class="navbar-brand" href="#">My Certifications</a>
        </div>
        <div class="col col-10">
            <form
                class="d-flex align-items-center form gap-3"
                role="search"
            ></form>
        </div>
    </div>
    <!-- Must import at file create this navbar -->
    <!-- <script type="module" src="./navbar.js"></script> -->
</nav>
